<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MagoraTest.Interfaces.Properties.Settings.MagoraDatabaseConnectionString"
            connectionString="Data Source=(localdb)\Projects;Initial Catalog=MagoraDatabase;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>