<!DOCTYPE html>

<html>
<head>
    <title>Ошибка 404</title>
    <style>
        .e404
        {
            position:absolute;
            left:30px;
            top:30px;
            width:350px;
            height:350px;
        }
    </style>
</head>
<body style="background-color:rgba(239,241,243,1)">
    
    <img src="../../Content/Images/404_2.png"/>
    <div class="e404">
       <span style="color:rgba(202, 88, 52, 1);font-size:4em">Ошибка 404</span>
    <a href="/"  style="font-size:2em">Вернутся на главную</a>
     </div>
</body>
</html>
